body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(25,50,75);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  text-align: center;
}
.Letters{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Letter{
  width: 40px;
  height: 40px;
  background-color: gray;
  margin: 2px;
  padding: 2.5px;
  border-radius: 25%;
  transition: 0.5s;
  color:white;
  font-size: 25px;
}
.Letter:hover{
  cursor: pointer;
  transition: 0.5s;
  background-color: lightgray;
  color:black;
}
.Secret{
  color: white;
  width: 25px;
  height: 25px;
  border-bottom: solid 2px white;
  font-weight: bold;
  margin: 5px;
}
.SecretWord{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.Elements{
  padding: 10px;
  margin: 10px;
}